{% extends 'dashboard/Dashboard/base1.html' %}
{% load static %}
{%load crispy_forms_tags %}
{% block main-content %}


<div id="main-content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i></a></li>
                        <li class="breadcrumb-item"><a href="{% url 'meatlist' %}">Meat</a> </li>
                        <li class="breadcrumb-item active"><a href="{% url 'addmeat' %}">Add Meat</a> </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h2>Edit Meat</h2>
                    </div>
                    <div class="body">
                        <form id="basic-form" method="post" enctype="multipart/form-data" novalidate>

                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{form.Name | as_crispy_field}}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{form.Weight | as_crispy_field}}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{form.PCS | as_crispy_field}}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{form.Price | as_crispy_field}}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{form.Discount | as_crispy_field}}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{form.finalPrice | as_crispy_field}}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{form.Categories | as_crispy_field}}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{form.Image | as_crispy_field}}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    {{form.Description | as_crispy_field}}
                                </div>
                            </div>
                            <br>
                            <button type="submit" class="btn btn-primary">Update</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

{% endblock main-content %}